@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", "sans-serif";
  --font-stack_sans_notch: "Stack Sans Notch", "sans-serif";
  --font-sora: "Sora", "sans-serif";
  --color-accent: #d25ffd;
  --color-primary: #1e2248;
  --color-secondary: #55596a;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "poppins",
    sans-serif;
  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  font-optical-sizing: auto;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    @apply border-slate-800/40 outline-slate-500/50 font-poppins;
  }
  button {
    @apply px-4 py-2;
  }
}
